.header {
  margin-top: 100px;
}
.topmenu > ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  background-color: rgb(48, 46, 46);
}
.topmenu {
  border-bottom: 3px solid dodgerblue;
}

.topmenu {
  margin: 0;
  padding: 0;
}
.topmenu > ul li a {
  display: flex;
  gap: 5px;
  background-color: rgb(48, 46, 46);
  padding: 15px 30px;
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
}
.topmenu li > ul li {
  border: 1px solid #2e7bb6;
  list-style: none;
  background-color: dodgerblue;
}
.topmenu li a:hover {
  background-color: dodgerblue;
}
/*sub-menu*/
.topmenu li ul {
  position: absolute;
  width: 100%;
  left: 0;
  text-transform: none;
  background-color: dodgerblue;
  display: none;
}
.topmenu li:hover > ul {
  display: block;
}
.sub-menu > li a {
  background-color: dodgerblue;
}
.sub-menu-li a {
  background-color: dodgerblue !important;
  white-space: nowrap;
}
.topmenu ul {
  padding: 0;
}
.relative {
  position: relative;
}
.sub-menu-li.relative ul {
  position: absolute;
  width: 140px;
  left: 100%;
  top: 0;
}
.droppdown:hover a {
  background-color: dodgerblue;
}
.plus {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.droppdown a span {
  display: block;
}
.sub-menu {
  width: 300px !important;
}
