* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: blanchedalmond;
}
h1 {
  color: blue;
  font-size: 24px;
}
* {
  font-size: 22px;
}
.title {
  color: aqua;
}
li:first-child {
  color: violet;
}
#selector2 {
  color: aquamarine;
}
.selector3 {
  color: blue;
}
.menu__item-link.selector4 {
  color: blueviolet;
}
.menu .selector5 {
  color: brown;
}
span {
  color: rgb(11, 161, 31);
}
p {
  color: black;
}
h3 {
  color: aquamarine;
}
h4 {
  color: mediumorchid;
}
h5 {
  color: crimson;
}
